@{
    ViewData["Title"] = "Home Page";
}
<img src="~/privateimages/tringle.jpg" class="logo"/>
<link href="~/css/common.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
